.nav-bar {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.right-container {
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
    color: black;
    transition-duration: 0.2s;
}

.nav-link2 {
    text-decoration: none;
    color: black;
    transition-duration: 0.2s;
}

.nav-link2:hover {
    color: green;
    border-bottom: 3px solid green;
}

h1 {
    text-align: center;
    font-size: 5em;
}

footer {
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
}

body {
    background-color: #f6f9fc;
    font-family: "monospace";
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
    color: green;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

p {
    color: black;
    text-align: center;
}

.main-content {
    display: flex;           
    flex-direction: column;  
    justify-content: center; 
    align-items: center;   
}

.contact-button {
    background-color: white;
    border-radius: 4px;
    border: 2px solid black;
    font-size:14px;
    color: black;
    transition-duration: 0.3s;
}

.contact-button:hover {
    background-color: green;
    color:black;
}

.contact-button2 {
    text-decoration: none;
    color: black;
    transition-duration: 0.3s;
}
